body {
  padding: var(--metric-box-spacing);
}
a:focus,
a:hover {
  outline: 1px dotted;
}
a:focus-visible {
  outline: 3px solid;
}
ol {
  display: grid;
  grid-gap: var(--metric-box-spacing);
}
ol li {
  list-style: none;
  padding: var(--metric-box-spacing);
  background-color: var(--color-off-white);
  border-radius: var(--metric-radius);
  box-shadow: var(--generic-shadow);
}
ol li:nth-child(2) {
  order: 3;
}
a:hover {
  transform: scale(150%);
}
@media (prefers-reduced-motion: no-preference) {
  a {
    transition-duration: 4s;
    transition-property: transform;
  }
}
button {
  padding: 0.5em 1em;
}
@media (pointer: coarse) {
  button {
    padding: 1em 2em;
  }
}
@media (any-pointer: fine) {
  button {
    padding: 0.5em 1em;
  }
}
@media (any-pointer: coarse) {
  button {
    padding: 1em 2em;
  }
}
body {
  display: grid;
  place-items: center;
  min-block-size: 100vh;
}
button {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 0.5em;
  padding-inline-start: 2em;
  border-radius: 0.25em;
  display: flex;
  gap: 0.5em;
  align-items: center;
}
button .extra {
  visibility: visible;
}
@media (hover: hover) {
  button .extra {
    visibility: hidden;
  }
  button:is(:hover,:focus) .extra {
    visibility: visible;
  }
}
